{{define "craftinglist"}}
  <p class="text-dark mb-2">Crystals</p>
  {{template "crystals-table" .Crystals}}
  <span class="mb-3"></span>

  <p class="text-dark mb-2">Pre crafts</p>
  {{template "precrafts-table" .PreCrafts}}
  <span class="mb-3"></span>

  <p class="text-dark mb-2">Gathering</p>
  {{template "gathering-table" .Gathering}}
  <span class="mb-3"></span>

  <p class="text-dark mb-2">Others</p>
  {{template "others-table" .Other}}
{{end}}

{{define "crystals-table"}}
  <div class ="row align-items-center font-weight-bold custom-striped-table py-2 border border-secondary">
    <div class="col text-left">Icon</div>
    <div class="col text-left">Item</div>
    <div class="col text-left">Quantity</div>
  </div>
  {{range .}}
    <div class="row align-items-center custom-striped-table py-2 border border-top-0 border-secondary" data-id="{{.ID}}">
      <div class="col text-left">
        <img class="rounded" style="width: 48px; height: 48px;" src={{.Icon}}>
      </div>
      <div class="col text-left">{{.Name}}</div>
      <div class="col text-left">{{.Quantity}}</div>
    </div>
  {{end}}
{{end}}

{{define "precrafts-table"}}
  <div class ="row align-items-center font-weight-bold custom-striped-table py-2 border border-secondary">
    <div class="col text-left">Icon</div>
    <div class="col text-left">Item</div>
    <div class="col text-left">Classes</div>
    <div class="col text-left">Quantity</div>
    <div class="col text-left">Other</div>
    <div class="col text-left">Tier</div>
  </div>
  {{range .}}
    <div class="row align-items-center custom-striped-table py-2 border border-top-0 border-secondary" data-id="{{.ID}}">
      <div class="col text-left">
        <img class="rounded" style="width: 48px; height: 48px;" src={{.Icon}}>
      </div>
      <div class="col text-left">{{.Name}}</div>
      <div class="col text-left">
        <div class="d-flex flex-row">
          {{range .Classes}}
            <div class="p-2 ingredients-modal">
              <img class="rounded" style="width: 30px; height: 30px;" src="{{.Icon}}">
            </div>
          {{end}}
        </div>
      </div>
      <div class="col text-left">{{.Quantity}}</div>
      <div class="col text-left">
        {{template  "obtain-methods" .}}
      </div>
      <div class="col text-left">{{.Tier}}</div>
    </div>
  {{end}}
{{end}}

{{define "gathering-table"}}
  <div class ="row align-items-center font-weight-bold custom-striped-table py-2 border border-secondary">
    <div class="col text-left">Icon</div>
    <div class="col text-left">Item</div>
    <div class="col text-left">Classes</div>
    <div class="col text-left">Quantity</div>
    <div class="col text-left">Other</div>
  </div>
  {{range .}}
    <div class="row align-items-center custom-striped-table py-2 border border-top-0 border-secondary" data-id="{{.ID}}">
      <div class="col text-left">
        <img class="rounded" style="width: 48px; height: 48px;" src={{.Icon}}>
      </div>
      <div class="col text-left">{{.Name}}</div>
      <div class="col text-left">
        <div class="p-2 ingredients-modal">
          <img class="rounded" style="width: 30px; height: 30px;" src="{{.Type.Icon}}">
        </div>
      </div>
      <div class="col text-left">{{.Quantity}}</div>
      <div class="col text-left">
        {{template  "obtain-methods" .}}
      </div>
    </div>
  {{end}}
{{end}}

{{define "others-table"}}
  <div class ="row align-items-center font-weight-bold custom-striped-table py-2 border border-secondary">
    <div class="col text-left">Icon</div>
    <div class="col text-left">Item</div>
    <div class="col text-left">Quantity</div>
    <div class="col text-left">Obtain</div>
  </div>
  {{range .}}
    <div class="row align-items-center custom-striped-table py-2 border border-top-0 border-secondary" data-id="{{.ID}}">
      <div class="col text-left">
        <img class="rounded" style="width: 48px; height: 48px;" src={{.Icon}}>
      </div>
      <div class="col text-left">{{.Name}}</div>
      <div class="col text-left">{{.Quantity}}</div>
      <div class="col text-left">
        {{template  "obtain-methods" .}}
      </div>
    </div>
  {{end}}
{{end}}
